@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@font-face {
  font-family: "Madebarista";
  src: local("Madebarista"), local("Madebarista"),
    url("../fonts/Madebarista.woff2") format("woff2"),
    url("../fonts/Madebarista.woff") format("woff"),
    url("../fonts/Madebarista.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
// @font-face {
//   font-family: "LiebherrText Regular";
//   src: local("LiebherrText Regular"), local("LiebherrText-Regular"),
//     url("../fonts/LiebherrText-Regular_Web.woff2") format("woff2"),
//     url("../fonts/LiebherrText-Regular_Web.woff") format("woff"),
//     url("../fonts/LiebherrText-Regular_Web.ttf") format("truetype");
//   font-weight: 400;
//   font-style: normal;
// }
